*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
}

minhatag{
    display: block;
}
minhatag.tagespecial{
    background-color: aquamarine;
    width: 350px;
    height: 150px;
}